<%- include('./templates/header.ejs'); %>
<%- include('./templates/navbar.ejs'); %>
    <div class="container">
        <main>
            <section>
                <div class="content-description">
                    <h1>VARIOS AÑOS DE EXPERIENCIA NOS RESPALDAN</h1>
                    <p>Tcnlgo. Sup. Oscar Cangui</p>
                    <p>Soluciones tecnológicas</p>
                </div>
                <div class="content-avatar">
                    <img class="img-avatar" src="../public/img/avatar-wave.svg" >
                </div>
            </section>

            <p class="section-title">Asesoramiento y venta</p>
            
            <div class="card-presentation">
                
                <div class="card">
                    <div class="card-title">
                      <label>IMPRESORAS</label>
                    </div>
                    <div class="card-img">
                        <img src="../public/img/productos/impresoras.png">
                    </div>
                    <div class="card-description">
                        <ul>
                            <li><i class="fas fa-check"></i> Sistema a tinta continua de fábrica</li>
                            <li><i class="fas fa-check"></i> No necesita cartuchos</li>
                            <li><i class="fas fa-check"></i> Hasta 5000 impresiones con cada recarga</li>
                        </ul>
                    </div>
                    <div class="card-button">
                        <button class="btn-buy" type="button">Solicita tu cotización</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">
                        <label>LAPTOPS PORTATILES</label>
                    </div>
                    <div class="card-img">
                        <img src="../public/img/productos/laptops.png">
                    </div>
                    <div class="card-description">
                        <ul>
                            <li><i class="fas fa-check"></i> Portátiles para hogar, trabajo o corporativas</li>
                            <li><i class="fas fa-check"></i> Te brindamos asesoria para que elijas tu equipo ideal</li>
                        </ul>
                    </div>
                    <div class="card-button">
                        <button class="btn-buy" type="button">Solicita tu cotización</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">
                        <label>COMPUTADORAS DE ESCRITORIO</label>
                    </div>
                    <div class="card-img">
                        <img src="../public/img/productos/computadoras.png">
                    </div>
                    <div class="card-description">
                        <ul>
                            <li><i class="fas fa-check"></i> Equipos de utlima generación</li>
                            <li><i class="fas fa-check"></i> La mejor asesoria en la busqueda de tu equipo ideal</li>
                        </ul>
                    </div>
                    <div class="card-button">
                        <button class="btn-buy" type="button">Solicita tu cotización</button>
                    </div>
                </div>
            </div>

            <p class="section-title">MANTENIMIENTO - REPARACIÓN - ACTUALIZACIONES</p>
                <div class="card-presentation">
                    <div class="card-content-support">
                        <div class="card-support-title">
                            <label>SOPORTE TÉCNICO</label>
                        </div>
                        <div class="card-support-img">
                            <img src="../public/img/icons/repair.svg">
                        </div>
                    </div>

                    <div class="card-content-support">
                        <div class="card-support-title">
                            <label>ANTIVIRUS</label>
                        </div>
                        <div class="card-support-img">
                            <img src="../public/img/icons/virus.svg">
                        </div>
                    </div>

                    <div class="card-content-support">
                        <div class="card-support-title">
                            <label>ACTUALIZACIÓN DE WINDOWS</label>
                        </div>
                        <div class="card-support-img">
                            <img src="../public/img/icons/update.svg">
                        </div>
                    </div>
                </div>

            <p id="productos" class="section-title">PRODUCTOS Y SERVICIOS</p>
            <p class="section-info">Solicita el producto o servicio que deseas mediante nuestro WhatsApp !!!</p>

            <div class="slide-container swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="card-container-product">
                        <div class="img-product">
                            <img src="../public/img/equipos/equipo1.jpg">
                        </div>
                        <div class="name-product">
                            <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                            <p class="equipo-precio">$672</p>
                        </div>
                        <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                        <div class="stars">
                            <label>5 </label><i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo2.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>  
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo3.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo4.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo5.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo6.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo7.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo8.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo9.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo10.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo11.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo12.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo13.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="swiper-slide">
                        <div class="card-container-product">
                            <div class="img-product">
                                <img src="../public/img/equipos/equipo14.jpg">
                            </div>
                            <div class="name-product">
                                <p class="equipo-desc">Asus Icore5 - 11va generación. W10</p>
                                <p class="equipo-precio">$672</p>
                            </div>
                            <button type="button" class="btn-shop"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
                            <div class="stars">
                                <label>5 </label><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>

        </main>
    </div>

<%- include('./templates/footer.ejs'); %>