<header class="header">
    <nav class="nav">
        <a href="/" class="logo nav-link">ALX SOPORTE <br> <p class="logo-desc">Computadoras y laptops</p> </a>
        <button type="button" class="nav-toggle"><i class="fa-solid fa-bars"></i></button>
        <ul class="nav-menu">
            <li class="nav-menu-item"><a href="/" class="nav-menu-link nav-link"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li class="nav-menu-item"><a href="#productos" class="nav-menu-link nav-link"><i class="fa-sharp fa-solid fa-shop"></i> Productos</a></li>
            <li class="nav-menu-item"><a href="../pages/contact" class="nav-menu-link nav-link"><i class="fa-solid fa-phone"></i> Contactos</a></li>
            <li class="nav-menu-item"><a href="" class="nav-menu-link nav-link"><i class="fa-solid fa-globe"></i> Acerca de</a></li>
            <li class="nav-menu-item"><a href="" class="nav-menu-link nav-link"><i class="fa-solid fa-blog"></i> Blog</a></li>
        </ul>
    </nav>
</header>